h1{
  text-align: center;
  color: blue;
  background-color: pink;

}

body {


}

p {
  text-indent: 5em;

}
#text1{
  text-indent: 50;
}
#text2{
  text-indent: 50;
}
#img1{
  width: 300px;
  height: 300px;
}

b {
  font-size: 200%;
}
ul{
  list-style: none;
  
}
